@import "../../../../themes/brfgiraffen/assets/css/partials/general";

* {
    // box-shadow: 0 0 0 1px black;
}

.wp-block-acf-post-documents {
    max-width: 100% !important;

    form.mixit-form-wrapper {
        display: flex;
        // flex-wrap: wrap;
        margin-bottom: 24px;
        background: rgba($brown, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 24px;

        fieldset.filter-group {
            border: none;
            padding: 0;
            margin-right: 24px;
            display: flex;
            flex-wrap: wrap;

            h4 {
                margin: 0 0 6px 0;
                width: 100%;
            }

            button {

                &.mixitup-control-active {
                    background: rgba($brown, 0.10);

                    &:before {
                        content: "";
                        position: relative;
                        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" /></svg>') no-repeat center;
                        background-size: contain;
                        display: flex;
                        width: 16px;
                        height: 16px;
                        margin-right: 2px;
                    }
                }

                &:hover {
                    background: rgba($brown, 0.10);
                }
            }
        }

        fieldset.reset-group {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-inline-start: 2px;
            margin-inline-end: 2px;
            padding-block-start: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
            padding-block-end: 0;
            min-inline-size: min-content;
            border-width: 0;
            border-style: none;
            border-color: none;
            border-image: initial;
            margin-right: 24px;

            h4 {
                width: 100%;
                margin: 0 0 6px 0;
            }

            .show-all-button {
                color: $dark;
                text-decoration: none;
                border: 1px solid rgba(0, 0, 0, 0.1);
                outline: none;
                background: $blue;
                color: white;
                margin-right: 24px;
                cursor: pointer;
                font-family: var(--wp--preset--font-family--karla);
                font-size: 18px;
                align-self: flex-start;
                border-radius: 20px;
                padding: 8px 12px;
                margin-right: 0;
                transition: all ease 250ms;

                &.mixitup-control-active {
                    // background: rgba($brown, 0.25);
                }

                &:hover {
                    background: rgba($blue, 0.75);
                }
            }
        }
    }

    .post {
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid rgba($dark, 0.25);
        transition: padding ease 250ms;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        color: $dark;
        text-decoration: none;
        // border-radius: 12px;

        h4 {
            margin: 0 12px 0 0;
        }

        &:after {
            content: "Ladda ned";
            opacity: 0;
            transform: translateX(4px);
            transition: all ease 250ms;
            margin-left: 12px;
        }

        &:hover {
            &:after {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .file-meta {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            svg,
            img {
                // margin-left: 12px;
                margin-right: 12px;
                width: 25px;
            }
        }


        &:hover {
            padding: 8px 4px 8px 4px;
            background: rgba($dark, 0.05);
        }

        p {
            strong {
                opacity: 0.5;
                font-style: italic;
            }
        }
    }
}